<section class="col-span-3 row-span-1 pt-5 mb-10 flex">
  <div class="max-w-xs mr-6 relative">
    <img class="max-w-xs border border-black" src="./assets/avatar.jpg" alt="Avatar">
    <h2 class="text-[#20E3B2] m-0 text-4xl leading-4 font-light uppercase absolute bottom-2 left-2/4 -ml-28">Experiencia</h2>
  </div>

  <div class="relative w-full flex py-6 px-8 border border-black shadow-[8px_8px_0px_rgba(0,0,0,1)]">
    <div class="mr-8">
      <a class="block text-xs p-0 m-0 leading-4" href="mailto:leandrovilanova@gmail.com">leandrovilanova@gmail.com</a>
      <a class="block text-xs p-0 m-0 leading-5" href="tel:541132852028">+54 11 3285 2028</a>
      <address class="block text-xs p-0 m-0 leading-5 not-italic">Rio de janeiro 3221, Lanús Oeste</address>
      <span class="block text-xs p-0 m-0 leading-5">15/05/1984</span>
      <span class="block text-xs p-0 m-0 leading-5">Argentino</span>
      <a class="block text-xs p-0 m-0 mt-4 leading-4 underline hover:bg-[#0CEBEB] transition-colors ease-in-out duration-500" href="https://www.behance.net/leandrovilanova">behance.net/leandrovilanova</a>
    </div>

    <div class="max-w-sm mr-8">
      <p class="block text-xs p-0 m-0 leading-4">Disponibilidad full time para pasar a formar parte del equipo, con conocimientos en todas las áres que atañen a la creación, lanzamiento o mejora continúa de la experiencia de usuario. Considero contar con un buen stack de habilidades relacionadas, sumadas a una curiosidad y ganas de aprender inagotables.</p>
      <p class="block text-xs p-0 m-0 mt-4 leading-4">Fundamentalista del autodidactismo.</p>
    </div>

    <div class="max-w-xs">
      <p class="block text-xs p-0 m-0 leading-4 font-light"><q class="bg-[#20E3B2]/20">Got to move on sometime and it's about time by putting one foot in front of another</q> <span class="block">Martin L. Gore</span></p>
    </div>

    <div class="absolute -bottom-3 right-2">
      <a href="mailto:leandrovilanova@gmail.com" class="shadow-sm py-5 px-8 border border-black transition-colors text-black uppercase mr-1 bg-gray-300 hover:bg-gray-200 ease-in-out duration-500">Contactar</a>
      <a href="tel:541132852028" class="shadow-sm shadow-[#0CEBEB]/50 py-5 px-8 border border-black transition text-black uppercase bg-[#20E3B2] hover:bg-[#0CEBEB] ease-in-out duration-500">Contratar</a>
    </div>
  </div>
</section>